Types: deb
URIs: https://repo.phonebo.cx/debian/
Suites: phonebocx-__DISTRO__
Allow-Insecure: yes
Allow-Weak: yes
Allow-Downgrate-To-Insecure: yes
Components: main
PubkeyUrl: https://repo.phonebo.cx/phonebocx.gpg.key
